fastapi           
uvicorn
faiss-cpu
pydantic
transformers
torch
pymongo
langchain
bs4
gradio
lxml
argparse
streamlit
langchain-groq
langchain_core
langchain_community
PyPDF2
pypdf
langchain_google_genai